html {
    font-size: 16px;
}


/* Летний лагерь */

.summer-camp-section {
    background: url('../src/img/summer-camp/hero-background-summer-camp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 90vh;
}

.summer-camp-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 1) 99%);
    pointer-events: none;
    z-index: 1;
}


.summer-camp-content {
    display: flex;
    flex-direction: row;
    gap: 10vw;

}

.summer-camp-hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20vh;
    z-index: 2;
    height: 100vh;

}

.summer-camp-hero-text h1 {
    font-family: 'Roboto-Condensed';
    font-size: 4rem;
    text-align: start;
    text-transform: uppercase;
    line-height: 3.5rem;
}

.summer-camp-hero-text p {
    font-family: 'Roboto-Condensed';
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    word-spacing: 0.05rem;
}


.summer-camp-media-content {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    gap: 5vh;
}


.summer-camp-photocards-container {
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }

.summer-camp-photocards {
    display: flex;
    flex-direction: row;
    height: 50vh;
    z-index: 2;
    gap: 10px;
    transition: transform 0.5s ease;

}

.card-beret {
    position: relative;
    height: 50vh;
    max-width: 14vw;
    border-radius: 16px;
    overflow: hidden;
    flex: 0 0 calc(25% - 7.5px);
}

.card-beret-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.card-beret::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.493) 80%);
    pointer-events: none;
    z-index: 1;
}

.card-beret-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;
}

.card-beret-content h3 {
    font-family: 'Roboto-Condensed';
    margin: 0;
    line-height: 1.3;
    text-align: start;
}


.summer-camp-media-navigation {
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15vw;
}
.arrow{
    cursor: pointer;
}

.summer-camp-media-navigation img{
    width: 5vw;
    height: auto;
}


.summer-camp-media-navigation :first-child {
    display: flex;
    flex-direction: row;
}

.dots {
    display: flex;
    gap: 8px;
    align-items: center;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background 0.3s ease;
}

.dot.active {
    background: white;
    width: 16px;
    height: 8px;
    border-radius: 4px;
}



/* -------------------- Сдача на берет --------------------------- */


.change-beret-section{
    background: url('../src/img/change-for-beret/background-photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 105vh;
    /* margin-bottom: 15vh; */
    background-color: #000;
}

.change-beret-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 1) 99%); */
    background: url('../src/img/change-for-beret/half-black-decoration.png') no-repeat;
    pointer-events: none;
    z-index: 1;
}

.change-beret-content{
    display: flex;
    flex-direction: column;
    /* gap: 15vh; */
    padding-top: 5vh;
}


.change-beret-text{
    z-index: 2;
    margin-bottom: 12vh
}

.change-beret-text h1{
    font-family: 'Roboto-Condensed';
    font-size: 4rem;
    text-align: start;
    /* text-transform: uppercase; */
    line-height: 3.5rem;
    z-index: 2;
    
}

.change-beret-text p{
    font-family: 'Roboto-Condensed';
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    word-spacing: 0.05rem;
    z-index: 2;
}

.arrows-beret{
    display: flex;
    flex-direction: row;
    z-index: 2;
    gap: 2vw;
    margin-top: 0vh;
}
.arrows-beret img{
width: 5vw;
}

.beret-photos-container{
    padding-top: 2vh;
    margin-bottom: 2vh;
    z-index: 2;
    width: 100%;
    overflow: hidden;
}

.beret-photos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.beret-card{
    height: 40vh;
    border-radius: 16px;
    overflow: hidden;
    flex: 0 0 calc(40% - 7.5px);
}

.beret-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}


.dots-beret {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;
    z-index: 2;
}

.dot-beret {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background 0.3s ease;
}

.dot-beret.active {
    background: white;
    width: 16px;
    height: 8px;
    border-radius: 4px;
}